.row {
    max-width: $grid-width;
    margin: 0 auto;

    &:not(:last-child) { //.row:not() with the not we select everything exept last-child
        margin-bottom: $gutter-vertical;

        @include respond (tab-port) {
            margin-bottom: $gutter-vertical-small;
            }
    }

    @include respond (tab-port) {
            max-width: 50rem;
            padding: 0 3rem;
            }

    @include clearfix;

    //[class$="col-"] this select any class that end with col-
    // [class*="col-"] this select all the classes which contain the class col-
    [class^="col-"] {  // []this is the attribute selector, and I can select anything(src, ...). This simbol ^ allow us to select all the class that start with col-   
        float: left;

        &:not(:last-child) {
            margin-right: $gutter-horizontal;

            @include respond (tab-port) {
            margin-right: 0;
            margin-bottom: $gutter-vertical-small;
            }
        }

        @include respond (tab-port) {
            width: 100% !important;
        }
    }

        // 100% minus the gutter between the columns divided by 2 (nuber of column)
    .col-1-of-2 {
        width: calc((100% - #{$gutter-horizontal}) / 2); //to make the variable readible as a number we write in this way #{$gutter-horizontal}
    }

        // 100% minus the space between columns (2) times the gutter divided by 3 (number of columns)
    .col-1-of-3 {
        width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
    }
    
        // multiply times 2 the width of a columns with the 2 spaces divided by 3
    .col-2-of-3 {
        width: calc(2 * ((100% - 2 * #{$gutter-horizontal}) / 3) + #{$gutter-horizontal});
    }

        // 100% minus the spaces between the columns (3) divided by 4 (number of columns)
    .col-1-of-4 {
        width: calc((100% - 3 * #{$gutter-horizontal}) / 4);
    }

    .col-2-of-4 {
    width: calc(2 * ((100% - 3 * #{$gutter-horizontal}) / 4) + #{$gutter-horizontal});
    }

    .col-3-of-4 {
        width: calc(3 * ((100% - 3 * #{$gutter-horizontal}) / 4) + 2 * #{$gutter-horizontal});
    }

}